body {
    background-color: #5f5858;
}

.context {
    width: 100%;
    position: absolute;
    top: 100px;
    
}

.context h1{ 
    text-align: center;
    color: #fff;
    font-size: 75px;
    font-family: "Dela Gothic One", sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top: 100px;
    
}

.context p{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: "Dela Gothic One", sans-serif;
}

@media screen and (max-width: 768px) {
    .context h1 {
        font-size: 40px;
    }
    
    .context p {
        font-size: 30px;
    }
}

div {
    text-align: center;
}

.context {
    width: 100%;
    position: absolute;
    top: 100px;
    
}

.context a{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-family: "Dela Gothic One", sans-serif;
}

.context a:hover {
    color: rgb(105, 105, 105);
}

li {
    list-style-type: none;
}


.mizuki {
    margin: auto;
    width: 550px;
    height: 345px;
}

.ena{
    margin: auto;
    width: 550px;
    height: 345px;
}

.temari{
    margin: auto;
    width: 550px;
    height: 300px;
}

.kotone{
    margin: auto;
    width: 550px;
    height: 300px;
}

.hotaru{
    margin: auto;
    width: 550px;
    height: 300px;
}

.hu{
    margin: auto;
    width: 300px;
    height: 300px;
}

.kazusa{
    margin: auto;
    width: 300px;
    height: 425px;
}

.burori{
    margin: auto;
    width: 300px;
    height: 425px;
}

.mana{
    margin: auto;
    width: 550px;
    height: 300px;
}

.back a{
   padding-bottom: 100px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: "Dela Gothic One", sans-serif;
}

.back a:hover {
    color: rgb(33, 33, 33);
}

.akiyama {
background-color: #DDAACC;
margin: 0 auto;
margin-top: 50px;
margin-bottom: 50px;
}

.sinonome {
    background-color: #CCAA88;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tukimura {
    background-color: #0c7bbb;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hujita {
    background-color: #f8c112;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.samu {
    background-color: #acd864;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tao {
    background-color: #f16236;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.kyouyama {
    background-color: #cd67cb;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nekomiya {
    background-color: #d80d0d;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.akuma {
    background-color: #93bb49;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}