@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

body {
    font-family: "Dela Gothic One", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5f5858;
}

#mainnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    font-size: 24px;
}

/* ナビゲーションリンクのスタイル */
#mainnav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-family: 'Dela Gothic One', sans-serif;
}

/* ホバー時のスタイル */
#mainnav a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin: 20px 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin-top: 100px ;
    margin-right: auto;
    margin-left: auto; 
    /* ナビゲーションバーに被らないように調整 */
    padding: 20px;
    border-radius: 8px;
    background-color: #444; /* 背景色を追加して、テキストを見やすく */
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 24px;
    margin: 10px 0 5px;
    font-weight: 100;
    color: #ffffff;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 18px;
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: lighter;
}

.submit-button:hover {
    background-color: #45a049;
}
/* スマートフォン用のスタイル調整 */
@media screen and (max-width: 768px) {
    #mainnav {
        font-size: 18px;
        padding: 8px 0;
    }

    p, footer {
        font-size: 18px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    label {
        font-size: 20px;
    }

    input, textarea {
        font-size: 16px;
    }

    .submit-button {
        font-size: 16px;
        padding: 12px;
    }

    .back a {
        font-size: 30px;
    }
}

