body {
    background-color: #87e06b;
}

.context {
    width: 100%;
    position: absolute;
    top: 100px;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 75px;
    font-family: "Dela Gothic One", sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top: 100px;
    
}

.context p{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: "Dela Gothic One", sans-serif;
}

@media screen and (max-width: 768px) {
    .context h1 {
        font-size: 40px;
    }
    
    .context p {
        font-size: 30px;
    }
}

div {
    text-align: center;
}

.context {
    width: 100%;
    position: absolute;
    top: 100px;
    
}

.context a{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-family: "Dela Gothic One", sans-serif;
}

.context a:hover {
    color: rgb(105, 105, 105);
}

li {
    list-style-type: none;
}

.gakumasu {
    width: 550px;
    height: 400px;
    margin: 0 auto;
}

.houkai{
    width: 550px;
    height: 300px;
    margin: 0 auto;
}

.sdbh{
    width: 350px;
    height: 500px;
    margin: 0 auto;
}

.dokkan{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.monsuto{
    width: 550px;
    height: 300px;
    margin: 0 auto;
}

.puroseka{
    width: 550px;
    height: 375px;
    margin: 0 auto;
}

.back a{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: "Dela Gothic One", sans-serif;
}

.back a:hover {
    color: rgb(105, 105, 105);
}