@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

body {
    background-color: #5f5858;
    margin: 0;
    font-family: 'Dela Gothic One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    font-size: 24px;
}

#mainnav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

#mainnav a:hover {
    text-decoration: underline;
}

.context {
    text-align: center;
    width: 100%;
    padding-top: 70px;
}

.context h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px;
}

.context h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 100;
}

.context p {
    color: #fff;
    font-size: 30px;
}

.context a {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}

.context a:hover {
    color: rgb(105, 105, 105);
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.gakuen, .housuta, .zenless, .z, .sutoraiku, .miku {
    background-color: #ddd;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
}

.gakuen { background-color: #fa900d; }
.housuta { background-color: #17153d; }
.zenless { background-color: #ff6c1e; }
.z { background-color: #ff9900; }
.sutoraiku { background-color: #f41d1d; }
.miku { background-color: #490079; }

@media screen and (max-width: 768px) {
    #mainnav {
        font-size: 18px;
    }

    .context h1 {
        font-size: 24px;
    }

    .context h2 {
        font-size: 20px;
    }

    .context p, .context a, footer {
        font-size: 16px;
    }

    .gakuen, .housuta, .zenless, .z, .sutoraiku, .miku {
        width: 90%;
    }

    .back a {
        font-size: 18px;
    }
}
