@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

body {
    background-color: #5f5858;
    margin: 0;
    font-family: 'Dela Gothic One', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    font-size: 24px;
}

#mainnav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

#mainnav a:hover {
    text-decoration: underline;
}

.context {
    text-align: center;
    width: 100%;
    padding-top: 70px;
}

.context h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 30px;
}

.context p {
    color: #fff;
    font-size: 30px;
}

.context a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}

.context a:hover {
    color: #807d7d;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

 .menya, .ie, .okamoto, .yume, .tokyo {
    background-color: #c7b24a;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
}

footer {
    width: 100%;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.time p {
    color: #fff;
    font-size: 30px;
}

.back {
    margin-top: 25px;
    text-align: center;
}

.back a {
    color: #a99062;
    font-size: 30px;
    text-decoration: none;
}

.back a:hover {
    color: rgb(33, 33, 33);
}

/* スマートフォン用のスタイル調整 */
@media screen and (max-width: 768px) {
    #mainnav {
        font-size: 18px;
    }

    .context h1 {
        font-size: 24px;
    }

    .context p, .context a, footer {
        font-size: 16px;
    }

    .syouryu, .ikkonya, .tanmen, .mugen, .kaminari, .menya, .ie, .okamoto, .yume, .tokyo {
        width: 90%;
    }

    .back a {
        font-size: 18px;
    }
}
